modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "ddd"
mode = "sequential"
author = 45208334

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config user.name \"QamarDeenSoomro\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config user.email \"qamersoomro1993@gmail.com\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git init"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"Initial commit\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git remote add origin https://github.com/QamarDeenSoomro/TharDairyNew.git"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push -u origin main"

[[workflows.workflow]]
name = "git push origin main"
mode = "sequential"
author = 45208334

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push"

[[workflows.workflow]]
name = "Pull and push"
mode = "sequential"
author = 45208334

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"Backup of current work\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git checkout main"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git pull origin main"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push --force origin main"
